/* ---- checkbox */

input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label {
    background-color: #ffffff;
    background-image: url(../img/check-off.png);
    height: 38px;
    /* float: none; */
    width: 38px;
    height: 70px !important;
    display: inline-block;
    padding: 15px 0 0 0;
    transition: all 0.5s;
    border: solid 2px #1da5d0;
}
label > b {
    font-weight: normal;
    padding-left: 50px;
    font-kerning: normal;
}
label > i {
    font-weight: normal;
    padding-left: 55px;
    text-transform: uppercase;
    color: #00bfff;
    font: normal normal 72px exoextralight;
    line-height: 56%;
    font-kerning: normal;
}
input[type=checkbox]:checked + label {
    background-image: url(../img/check.png);
}
/*---------- app settings */

body.appSettings {
    background: #e0e0e0;
    /* padding-top:175px; */
    padding-bottom: 100px;
    min-height: 850px !important;
}
#appSettings {
    display: block;
    margin: 0 auto;
    width: 640px;
}
#appSettings dl {
    display: block;
    /* padding: 0 15%; */
    /* margin-bottom:50px; */
    /* margin: 0 auto; */
    text-align: center;
    position: relative;
    /* height: 25%; */
}
#appSettings dl dt {
    font-family: dense;
    font-size: 52px;
    color: #000;
}
#appSettings dl dt:not(:first-child) {
    margin-top: 50px;
}
#appSettings dl dd {
    font-family: exoregular;
    font-size: 34px;
    color: #000;
    margin: 16px 0 2px 10px;
}
.buttonSet {
    margin: 0 auto;
    text-align: center;
}
#appSettings .buttonSet {
    /* margin-top:100px; */
}
.buttonSet button {
    font: normal normal 55px"exoextralight";
    border: 0;
    background-color: transparent;
    padding: 0;
    font-kerning: normal;
}
.buttonSet button:not(:last-child):after {
    content: "";
    display: inline-block;
    margin: 0 10px -3px 20px;
    height: 50px;
    width: 2px;
    background: #000;
    outline: 0;
}
/*------------ alerta alarma */

body.alertaAlarma {
    background: #f4fbfd;
    text-align: center;
    /* padding-top:125px; */
    /* padding-bottom:200px; */
}
body.alertaAlarma h4 {
    font: normal normal 62px"exoregular";
    color: #000;
    margin: 0;
}
body.alertaAlarma h2 {
    font: normal normal 100px"exoextralight";
    color: #00bfff;
    font-kerning: normal;
    text-transform: uppercase;
    margin: 0;
}
.iconAlarma {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto 205px auto;
    background: url(../img/alarm.png) no-repeat 50% 50%;
}
#alertaAlarma .buttonSet {
    /* margin-top:300px; */
}
/*------------- lista boton agregar */

body.listaBotonAgregar {
    background-color: #f4fbfd;
    text-align: center;
    /* padding-top:160px; */
    padding-bottom: 200px;
    overflow: auto !important;
}
#listaBotonAgregar {
    width: 640px;
    display: block;
    margin: 0 auto;
    height: auto;
}
#listaBotonAgregar > p {
    font: normal normal 28px exoregular;
    color: #000;
    margin: 0 auto 40px auto;
}
#listaBotonAgregar .iconAlarma {
    margin: 37px auto;
    margin-left: 1.5% !important;
}
.reminder {
    text-align: left;
}
.reminder p {
    font: normal normal 55px exoregular;
    margin: 30px auto 8px auto;
    width: auto;
    /* text-align:center; */
    color: #000;
}
.buttonSet.small {
    /* text-align:right; */
    /* margin:0 60px 10px 0; */
}
.buttonSet.small button {
    font-size: 28px;
    font-family: exoregular;
}
.buttonSet.small button:not(:last-child):after {
    margin: 0 30px -2px 40px;
    height: 25px;
    width: 2px;
}
.reminder input[type=checkbox] + label {
    margin: 15px 0 0 0px;
}
.reminder.inactive * {
    color: #e2e2e2;
}
.reminder.inactive button:not(:last-child):after {
    background: #e2e2e2;
}
.divider {
    width: 510px;
    height: 2px;
    display: block;
    background: #a7a9aa;
    margin: 10px auto;
}
/* ------------- add reminder */

body.addReminder {
    background: #f4fbfd;
    /* text-align:center; */
    /* padding-top:140px; */
    padding-bottom: 110px;
}
body.addReminder fieldset {
    border-width: 0;
}
body.addReminder fieldset legend {
    text-align: center;
    font: normal normal 55px exolight;
}
#addReminder {
    display: block;
    width: 640px;
    margin: 0 auto;
}
.calendar {
    width: 500px;
    display: inline-block;
    margin: 0 auto;
}
input[type=checkbox].day + label {
    background-color: #ffffff;
    height: 80px;
    text-align: center;
    width: 88px;
    border: solid 2px #21a6d3;
    font: normal normal 60px exolight;
    font-kerning: normal;
    color: #000;
    margin: 10px;
    float:left;
}
input[type=checkbox].day:checked + label {
    color: #fff;
    background: #21a6d3;
}
input[type=checkbox].day + label small {
    font-size: 28px;
    letter-spacing: -2px;
    /*line-height: 100%;*/
    display: inline-block;
    margin: 3px 0 -10px -3px;
}
.buttonSet.blue {
    margin-top: 12px;
}
.buttonSet.blue button {
    font-size: 28px;
    font: normal normal 50px exoregular;
    color: #0099cc;
}
#addReminder input:not([type=checkbox]) {
    font: normal normal 42px exolight !important;
    color: #000;
    text-align: center;
    height: 54px;
    padding: 0;
    line-height: 100%;
    border: solid 1px #0099cc;
    outline: 0;
    width: 85%;
    margin: 0 auto 10px auto;
}
input.half {
    width: 230px !important;
    display: inline-block;
    margin: 0 24px 24px 24px !important;
}
input[type=time] {
    width: 235px !important;
    background: #fff;
}
/*---------- footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    background: #000;
    border-top: solid 7px #0099cc;
    height: 113px;
}
footer nav {} footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
footer nav ul li {
    display: inline-block;
    padding: 0 10px;
    height: 100%;
    /*min-width:24%;*/
    margin: 0;
    vertical-align: bottom;
}
footer nav ul li:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
footer nav ul li a {
    color: #fff;
    text-decoration: none;
    font: normal normal 32px bebas_neueregular;
    display: inline-block;
    vertical-align: middle;
    line-height: 97%;
    width: 100%;
}
footer nav ul li:last-child a {
    color: #00bfff;
}
/*------------- header */

header {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 150px;
}
.iconSettings {
    /* display:block; */
    /* width:62px; */
    /* height:62px; */
    /* margin:0; */
    /* background: url(../img/gear.png) no-repeat 50% 50%; */
    /* top:50px; */
    /* right:10px; */
    /* position: absolute; */
    /* float: right; */
    /* clear: both; */
}
header div.logo {
    width: 500px;
    height: 100px;
    display: block;
    background: url(../img/logo_negro.png) no-repeat 50% 50%;
    position: absolute;
    top: 15px;
    left: 0px;
}
/* landscape */

/*---------- app settings */

#appSettings {
    width: 100%;
    display: table;
    /* padding-top:60px; */
    /* -webkit-transform: scale(0.5); */
    vertical-align: top;
    height: 100%;
    overflow-y: visible;
}
#appSettings dl {
    display: inline-block;
    width: 31%;
    height: auto;
    margin-left: 1.5%;
    margin-right: 0;
}
#appSettings dl dt,
#appSettings dl dd {
    margin: 0;
    height: 70px;
    line-height: 100%;
    vertical-align: middle;
}
#appSettings dl dt {
    display: block;
    float: left;
    width: 250px;
    text-align: left;
}
#appSettings dl dt:after {
    content: ":";
    margin-right: 10px;
}
#appSettings dl dd {
    display: block;
    float: left;
    min-width: 100%;
}
#appSettings dl dd:empty {
    clear: left;
    float: none;
}
#appSettings dl dd:empty:first-child {
    margin-bottom: 60px;
}
#appSettings label {
    display: block;
    margin-right: 150px !important;
}
#appSettings .buttonSet {
    /* margin: 0 0 0 65px; */
    /* padding:300px 0 0 0; */
    text-align: left;
    width: 100%;
}
#appSettings .buttonSet button {
    font-family: exoregular;
}
#appSettings .buttonSet button:not(:last-child):after {
    width: 4px;
}
/*------------ alerta alarma */

body.alertaAlarma {
    /* padding-top:125px; */
    /* padding-bottom:200px; */
}
#alertaAlarma .buttonSet {
    /* margin-top:100px; */
    position: absolute;
    bottom: 2%;
    left: 40%;
    right: 40%;
}
.iconAlarma {
    margin-bottom: 50px;
}
/* ------------- add reminder */

body.addReminder fieldset {
    text-align: left;
    margin: 50px 0;
}
body.addReminder fieldset input {
    margin-top: 10px !important;    
}
body.addReminder fieldset:nth-child(1) input {
    width: 515px !important;
    margin: 0;
}
body.addReminder fieldset legend {
    text-align: left;
    display: block;
    float: left;
    width: 430px;
    margin-right: 10px;
}
body.addReminder fieldset:nth-child(3) legend {
    width: auto !important;
}
#addReminder {
    width: 100%;
    /* margin:80px 60px; */
    /* -webkit-transform: scale(0.5); */
}
#addReminder .buttonSet {
    text-align: left;
}
.calendar {
    width: auto;
    /* margin-left:-100px !important; */
    /* margin-top: -40px; */
}
input.half {
    margin-left: 0 !important;
}
/*------------- lista boton agregar */

body.listaBotonAgregar {
    text-align: left;
}
#listaBotonAgregar {
    width: 100%;
    margin: 5px;
    display: table;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}
#listaBotonAgregar > p {
    /* font:normal normal 28px exoregular; */
    color: #000;
    margin: 0 auto 40px auto;
}
#listaBotonAgregar .iconAlarma {
    margin: 37px 0;
}
.reminder {
    height: 100px;
    display: block;
    /* border-bottom: 1px solid black; */
}
.reminder p {
    /* display:inline-block; */
    font-size: 28px;
    width: auto;
    /* margin-left: 30%; */
    padding-top: 12px;
}
.reminder p br {
    content: " ";
}
.reminder p br:after {
    content: " ";
}
.buttonSet.small {
    /* display:block; */
    /* width:auto; */
    /* margin-top:-50px; */
}
.buttonSet.small button {
    font-size: 28px;
    font-family: exoregular;
    margin-left: 0px;
}
.buttonSet.small button:not(:last-child):after {
    margin: 0 30px -2px 40px;
    height: 25px;
    width: 2px;
}
.reminder input[type=checkbox] + label {
    margin-left: 0;
    display: block;
    float: left;
}
.reminder input[type=checkbox] + label i {
    display: block;
    width: auto;
}
.reminder.inactive * {
    color: #e2e2e2;
}
.reminder.inactive button:not(:last-child):after {
    background: #e2e2e2;
}
.divider {
    width: 100%;
}
/* --- footer */

footer nav ul li a br {
    content: ' ';
}
footer nav ul li a br:after {
    content: ' ';
}
/* --- header */

header {
    height: 190px;
    background-color: transparent;
}
.iconSettings {
    /* right:40px; */
    /* top:30px; */
}
header div.logo {
    width: 675px;
    height: 130px;
    left: 35px;
    background: url(../img/logo_negro_apaisado.png) no-repeat 50% 50%;
}


/* ----- ajustes add_reminder.html */


@media (max-width: 768px) {
    #addReminder {        
        width: 100%; 
        margin-top:-40px;        
    }
    body.addReminder fieldset {
        margin-bottom:-40px;
    }
    body.addReminder fieldset legend {
        font-size:40px;
        width:95% !important;
        
    }
    input[type=checkbox].day + label {
        height: 40px;
        margin:5px;
        width: 20%;        
        /*font: normal normal 35px exolight;*/
        padding:16px 0 0 0;        
    }
    input[type=checkbox].day + label small {
        font-size: 27px;
        margin-top:0;
        width:80px;
    }
    #addReminder .calendar {
        margin-top:20px;
        width:100%;        
    }
    #addReminder input[type=text], 
    #addReminder input[type=number],
    #addReminder input[type=time] {
        height:60px;        
        font-size:36px !important;
        width:100%;
    }
    body.addReminder fieldset:nth-child(1) input {
        width:98% !important;
    }
    #addReminder .buttonSet * {
        font-size:36px !important;
    }
    .buttonSet button:not(:last-child):after {
        margin: 0 10px -3px 15px;
        height: 30px;
        width: 2px;
    }
    #addReminder .buttonSet {
        padding:40px 0 60px 0;        
    }
    #addReminder .half {
        width:42% !important;
        display:inline-block;
    }    
}

@media (max-width: 568px) {
    
    input[type=checkbox].day + label {
        font-size: 35px;        
        height:50px !important;
    }
    input[type=checkbox].day + label small {
        font-size: 24px;
        letter-spacing:-1px;
        width:60px;
        margin-left:-2px;
        margin-top:-5px;        

        margin-left:-5px;
    }
    #addReminder input[type=text], 
    #addReminder input[type=number],
    #addReminder input[type=time] {
        height:40px;        
        font-size:26px !important;
        width:100%;
    }
    body.addReminder fieldset legend {
        font-size:25px;
        width:95% !important;
        
    }
}


@media (max-width: 320px) {
    
    #addReminder .half {
        width:99% !important;
    }
    input[type=checkbox].day + label {
        height: 40px !important;
        margin:5px;
        width: 55px;        
        font: normal normal 25px exolight;
        padding:16px 0 0 0;        
    }
    input[type=checkbox].day + label small {
        font-size: 18px;
        margin-top:-4px;        
        margin-left:-3px;
    }
    #addReminder input[type=text], 
    #addReminder input[type=number],
    #addReminder input[type=time] {
        height:34px;        
        font-size:22px !important;
        width:100%;
    }
    #addReminder .buttonSet * {
        font-size:24px !important;
    }
    .buttonSet button:not(:last-child):after {
        margin: 0 5px -3px 10px;
        height: 30px;
        width: 2px;
    }
}

