
@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue-webfont.ttf') format('truetype');    
}

@font-face {
    font-family: 'exoblackitalic';
    src: url('fonts/exo-blackitalic-webfont.ttf') format('truetype');    
}

@font-face {
    font-family: 'exoblack';
    src: url('fonts/exo-black-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exobold';
    src: url('fonts/exo-bold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exoextralight';
    src: url('fonts/exo-extralight-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exobolditalic';
    src: url('fonts/exo-bolditalic-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exoextrabolditalic';
    src: url('fonts/exo-extrabolditalic-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exoitalic';
    src: url('fonts/exo-italic-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exoextralightitalic';
    src: url('fonts/exo-extralightitalic-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exomedium';
    src: url('fonts/exo-medium-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exolight';
    src: url('fonts/exo-light-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exolightitalic';
    src: url('fonts/exo-lightitalic-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exoextrabold';
    src: url('fonts/exo-extrabold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exoregular';
    src: url('fonts/exo-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exothin';
    src: url('fonts/exo-thin-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exomediumitalic';
    src: url('fonts/exo-mediumitalic-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exothinitalic';
    src: url('fonts/exo-thinitalic-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exodemibold';
    src: url('fonts/exo-semibold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'exodemibolditalic';
    src: url('fonts/exo-semibolditalic-webfont.ttf') format('truetype');
}