


#listaBotonAgregar .copete {
    width: 82%;
    left: 0;
    margin: 0;
}


.wrapper {
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden;
    width: 100%;
    /* height: 150%; */
}

.reminder {
    list-style: none !important;
    margin: 0 !important;
    padding: 0;
}

    .reminder li {
        display: table;
        vertical-align: middle;
        /* text-overflow: ellipsis; */
        white-space: nowrap;
        position: relative;
    }

        .reminder li:nth-child(1) {
            width: 38%;
            float: left;
            margin-right: 5px;
            margin-top: 15px;
            padding-left: 1.5%;
        }

        .reminder li:nth-child(2) {
            width: 30%;
            margin-right: 5px;
            text-align: left;
        }

        .reminder li:nth-child(3) {
            width: 25%;
            vertical-align: middle;
            display: inline-block;
            text-align: right;
            margin-right: 30px;
            float: right;
            margin-top: -45px;
        }


.iconSettings {
    display: block;
    width: 50px;
    height: 50px;
    margin: 20px;
    background: url(../img/gear.png) no-repeat 50% 50%;
    position: relative;
    float: right;
    /* clear: both; */
    background-size: cover;
    /* cursor: pointer; */
}

    .iconSettings:hover {
        cursor: pointer;
    }


.margenP {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.copete2 {
    text-shadow: none !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}


.storydeck {
    width: 96%;
    margin: 0 auto;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    font-family: baiti;
    font-size: 19px;
    text-align: left;
    display: table;
    vertical-align: middle;
}

#aIdioma {
    float: right;
    height: 70%;
    top: 0px;
    width: 50px;
    /* padding-bottom: 22px; */
    position: absolute;
    right: 0px;
    top: 17%;
}

    #aIdioma:hover {
        height: 90%;
        top: 5%;
    }

    #aIdioma img {
        height: 100%;
    }

#labelMedida {
    float: left;
}


#labelSexo:after, #labelSexo:before {
    background: #6692AB;
}


.preguntas.resultados {
    /* margin-bottom:0px !important; */
}

.botonCalcularResultados {
}

.innerMasaCorporal {
    width: 99%;
    margin-left: 1%;
}


#masaCorporal {
    padding: 0px !important;
    width: 99%;
    /* overflow: hidden; */
    margin: 0px !important;
}




#changuiContenidoArriba {
    height: 25px;
}


#masaCorporal .preguntas li {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
}

    #masaCorporal .preguntas li div {
        width: 49%;
        margin-right: 0%;
        margin-left: 0%;
        /* position: relative; */
    }

        #masaCorporal .preguntas li div:first-child {
            float: left;
            width: 40%;
            vertical-align: bottom;
        }

        #masaCorporal .preguntas li div:last-child {
            float: right;
        }

#valorResultadoMasa p {
    font-family: baiti;
    text-align: right;
    margin-right: 18px;
    font-size: 36px !important;
    line-height: 0%;
    position: relative;
    bottom: 16px;
    color: 0070bb;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    font-weight: bold;
}

.izquierda a {
    text-decoration: none;
    font-size: 1.5em;
    margin: 0px;
    font-family: dense;
    color: white;
    /* font-weight: 600; */
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 0px;
    /* background-color: black; */
}

::-webkit-scrollbar-thumb {
    background-color: #6692AB;
}



body {
    height: 100%;
}

.tab {
}

.preguntas li.primero {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

#datosIngresados li {
    width: auto;
    padding: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #E1E9EB;
    border-radius: 10px;
    margin: 4px;
    list-style: none;
    display: inline-block;
    font-family: baiti;
    font-size: 20px;
    font-weight: bold;
}

#datosIngresados {
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

    #datosIngresados li span {
        font-weight: 100 !important;
    }

#headerH1 {
    position: relative;
    margin: 0 auto;
    top: 25%;
    white-space: nowrap;
    z-index: 0;
    width: 100px;
}

h3 {
    font-family: baiti;
    font-size: 25px;
    font-weight: bold;
}

.tituloLi h3 {
    position: relative;
    bottom: 15px;
}

.tituloLi {
    vertical-align: middle;
    text-align: center;
}

.valorResultados {
    height: 100%;
    top: -8px;
    position: relative;
}

    .valorResultados p {
        text-align: right;
        font-family: baiti;
        font-weight: bold;
        margin-right: 20px;
        vertical-align: middle;
        height: 100%;
    }



.copete {
    font-size: 18px !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    margin-left: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}


#resultados {
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    width: auto;
}

select, option, input {
    font-family: baiti !important;
    /* text-align: center; */
}

#splashH1 {
    font-size: 69px;
    font-weight: 100;
    margin-bottom: 0;
}

#splashH2 {
    font-size: 40px;
    line-height: 85%;
    margin: 6;
    margin-bottom: 50px;
    margin-top: 0;
}

#logoWHO {
    width: 100%;
    text-align: center;
}

#splash {
    border-color: d9eaef;
    text-align: center;
    padding-top: 40px;
}

#imagenSplash1 {
    width: 48%;
    float: left;
}

#imagenSplash2 {
    width: 48%;
    float: right;
}

.tablaRecomendaciones {
    display: table;
    width: 100%;
    font-family: baiti;
    margin: 0;
    background: #6692ab;
    color: white;
    position: relative;
    bottom: 4px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    /* z-index: 20; */
    margin-bottom: 20px;
    /* padding-bottom: 10px; */
}

    .tablaRecomendaciones .row:first-child .cell {
        /* font-size:23px; */
        /* font-weight:bold; */
        width: 33%;
    }

    .tablaRecomendaciones .row .cell:first-child {
        padding-left: 3%;
    }

    .tablaRecomendaciones .row .cell:last-child {
        width: 82%;
        padding-right: 3%;
    }

    .tablaRecomendaciones .row .cell {
        padding: 10px;
        font-size: 20px;
        border: 3px solid e2e9eb;
    }




.contenidoRecomendaciones #logo {
    margin-left: 2.7%;
    margin-top: 20px;
}

#indiceRecomendaciones {
    padding: 0 !important;
}

#indice li p {
    margin-left: 1.3%;
    vertical-align: middle;
    position: relative;
    /* display: block; */
}

#indice {
    width: 100%;
    padding: 0;
    margin: 0;
}

#indiceRecomendaciones #logo {
    /* margin-bottom:20px; */
    margin-left: 1%;
}

#indice_ li:hover {
    background: #6692ab;
    transition: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

#indice li {
    transition: none;
    margin-bottom: 2px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    width: 99%;
    vertical-align: middle;
    font-family: baiti;
    padding-left: 14px;
    padding-bottom: 21px;
    font-size: 19px;
    padding-right: 0px;
}


    #indice li div img {
        width: 14px !important;
        float: right;
        right: 17px;
        position: relative;
        bottom: -4px;
        background-size: 14px 14px;
        background-position: right;
    }



.textoRecomendaciones {
    width: 100%;
    padding: 0px;
    margin-bottom: 0;
    position: relative;
    display: table;
}


    .textoRecomendaciones li {
        display: inline-block;
        margin-top: 4px;
        font-weight: bold;
        background: rgba(0,0,0,0.07);
        padding-top: 40px;
        width: 100%;
        vertical-align: middle;
        /* white-space: nowrap; */
        margin-bottom: 3px;
        position: relative;
        float: left;
        height: auto;
        /* margin-top: 30px; */
    }

        .textoRecomendaciones li div {
            width: 94%;
            margin-left: 3%;
            margin-right: 3%;
        }

            .textoRecomendaciones li div p {
                font-family: baiti;
                font-weight: 100;
            }

h6 {
    font-family: baiti;
    font-size: 1.43em;
    margin: 0;
}

.riesgo {
    margin-left: -30px;
    margin-right: -30px;
    width: 112%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
    position: relative;
    height: auto;
    background: #6692ab;
    z-index: 99;
    /* border-bottom:  solid e2e9eb; */
    color: white;
    overflow: hidden;
    display: block;
    clear: both;
}

h4 {
    font-family: dense;
    font-weight: 100;
    font-size: 3em;
}

.riesgo h4 {
    position: relative;
    /* top:10px; */
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.riesgo h5 {
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    margin-top: 5px;
    margin-bottom: 5px;
}

.riesgo div.derecha {
    float: right;
    width: 44%;
    padding: 1%;
    vertical-align: middle;
    display: table-cell;
    padding-top: 1.2em;
    padding-right: 2%;
    position: absolute;
    height: auto;
    bottom: 0px;
    right: 0px;
    margin-bottom: 1.5%;
}


.riesgo div.izquierda {
    float: left;
    width: 48%;
    padding: 1%;
    padding-left: 2%;
}

h5 {
    font-family: baiti;
    font-size: 1em;
}


@font-face {
    font-family: 'dense';
    src: url('fonts/bebasneue-webfont.ttf') format('truetype');
}


@font-face {
    font-family: "baiti";
    src: url(../fonts/msyi.ttf) format("truetype");
}




/*
@font-face {
	font-family: "dense";
	src: url(../fonts/Dense-Regular.ttf)  format("truetype");
}
*/

h1 {
    font-family: "dense", sans-serif;
    font-size: 19px;
}

H2 {
    font-family: "baiti";
    FONT-SIZE: 50PX;
    line-height: 30%;
    font-weight: 100;
}

p {
    font-family: "baiti";
    font-size: 19px;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    padding: 1px;
    height: 35px;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #1C2524;
    color: white;
    text-align: center;
    display: block;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    z-index: 999999;
    position: fixed;
    overflow: hidden;
}

    .header a:first-child {
        font-family: dense;
        color: white;
        text-decoration: none;
        font-size: 50px;
        float: left;
        vertical-align: middle;
        padding-top: 12px;
        padding-left: 19px;
        position: relative;
        width: 20px;
        overflow: hidden;
        bottom: 1px;
        height: 100%;
        z-index: 9999;
    }

        .header a:first-child img {
            height: 40%;
        }

        .header a:first-child:hover img {
            height: 50% !important;
            position: relative;
            left: -2px;
            bottom: 2px;
        }


.footer {
    display: block;
    position: fixed;
    height: 30px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    background: black;
    vertical-align: middle;
    border-top: solid 5px #6692AB;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    overflow: hidden;
}

    .footer a:nth-child(1), .footer a:nth-child(3) {
        border-right: solid 4px rgba(60,60,60,1);
    }

    .footer a:nth-child(2) {
        border-right: solid 4px rgba(60,60,60,1);
        border-left: none;
        /* letter-spacing: 2; */
    }

.footer_ a:hover {
    /* font-size:19px ; */
    /* bottom:1px; */
    /* position:relative; */
    background: #6692AB;
}

.footer a {
    text-decoration: none;
    font-family: dense;
    color: white;
    width: 23.5%;
    vertical-align: middle;
    height: 100%;
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 100;
    display: inline-block;
    z-index: 0;
}

    .footer a.active {
        font-weight: bold;
    }

li, ul {
    margin: 0;
    transition: all 500ms;
    -webkit-transition: all 500ms;
}

.preguntas {
    width: 96%;
    padding: 0px;
    /* position: relative; */
    display: table;
    /* margin-right: 61px; */
    margin-left: 2%;
}

    .preguntas li:last-child {
        background: none;
        padding: 0px;
        display: table;
    }

.row:last-child {
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}


/* ///////////////   COLORES DEL HEADER  //////////// */
.riesgo .derecha .row:first-child .cell:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.riesgo .derecha .row:last-child .cell:first-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.riesgo .derecha .row .cell:first-child {
    width: 80px;
    height: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.riesgo .derecha .row .cell:last-child {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 5px;
    font-family: baiti;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    font-size: 20px;
}

.riesgo .derecha .row {
    width: 100%;
    position: relative;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
}

/* /////////////////////////////*/

.preguntas li {
    display: inline-block;
    margin-top: 4px;
    font-weight: bold;
    background: rgba(0,0,0,0.07);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    vertical-align: middle;
    /* white-space: nowrap; */
    margin-bottom: 3px;
    position: relative;
    float: left;
    height: 40px;
    /* display: table-row; */
}


#botonCalcular {
    width: 200px;
    padding: 20px;
    font-family: baiti;
    font-weight: bold;
    font-size: 24px;
    float: left;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 45px;
    background: #183440;
    color: white;
    text-shadow: 1px 1px 2px black;
    -webkit-appearance: none;
    height: 69px;
    border: 0px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

    #botonCalcular:active {
        box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3) !important;
        position: relative;
        top: 1px;
    }


.preguntas li div input, .preguntas div input, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    line-height: 150%;
    font-size: 20px;
    border-radius: 5px;
    border: 0px solid;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    padding: 4px;
    padding-left: 8px;
    min-height: 36px;
    border-radius: 5px;
    width: 92%;
    margin-right: 15px;
    /* float: right; */
}



#contenido .preguntas li div:last-child {
    float: left;
    width: 50%;
}

input[type="button"] {
    border-radius: 10px !important;
}


.preguntas li div input[type="checkbox"] {
    float: right;
    margin-left: 5px;
    /* margin-right: 5px; */
}

.preguntas li div:first-child {
    float: left;
    width: 50%;
    bottom: 5px;
    height: 100%;
    position: relative;
    left: 20px;
    display: table;
    /* display: table; */
    vertical-align: middle;
}

    .preguntas li div:first-child p {
        font-weight: bold;
        font-size: 21px;
        width: 90%;
        /* height: 83%; */
        /* position: relative; */
        /* margin-bottom: 9px; */
        vertical-align: middle;
        display: table;
    }


.sidebar {
    width: 80px;
    height: 100%;
    background: black;
    display: block;
    color: white;
    float: left;
    position: relative;
    padding: 5px;
    z-index: 9;
    border-right: 12px #F6E563 solid;
}

label:after, label:before {
    border-radius: 5px;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

label {
    float: left;
    margin-left: 0px;
}

.wrapperContenido {
    width: 100%;
    padding-left: 80px;
    margin-left: -80px;
    /* ese 80px es el ancho de la sidebar */
}

#logo {
    width: 40%;
    margin-top: 7px;
    /* margin-left: 20px; */
}

.contenidoRecomendaciones {
    width: auto;
    height: auto;
    display: block;
    padding: 0px;
    position: relative;
    background: #F4FBFD;
    border: 12px #E2E9EB solid;
    text-align: justify;
    color: black;
    overflow: hidden;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px;
    margin-right: 0px;
}

.contenido {
    /* width: 100%; */
    height: 100%;
    display: block;
    background: #F4FBFD;
    /* padding-left: 60px; */
    border: 12px #E2E9EB solid;
    text-align: left;
    color: black;
    /* padding-right: 60px; */
    overflow-y: auto;
    /*position: fixed;*/
    top: 0px;
    overflow-x: hidden;
    /* display: block; */
    /* min-width: 94%; */
}


input[type="checkbox"] {
    width: auto !important;
    box-shadow: none !important;
}

@media (max-height:570px) {
    body.alertaAlarma h2 {
        font-size: 80px !important;
    }

    body.alertaAlarma h4 {
        font-size: 50px !important;
    }

    .buttonSet button {
        font-size: 40px !important;
    }
}

@media (max-width: 768px) {
    #okcancel {
        /* height: 200px !important; */
        /* position: relative; */
    }

    #appSettings > dl.buttonSet {
        width: 100% !important;
    }

    #appSettings dl {
        width: 50% !important;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

        #appSettings dl dt {
            font-size: 40px !important;
        }

        #appSettings dl dd label {
            font-size: 20px !important;
        }

        #appSettings dl * {
            height: auto !important;
        }

        #appSettings dl button {
            font-size: 40px;
        }

    ul.reminder {
        height: 161px;
    }

    .reminder li {
        white-space: normal !important;
    }

    label i {
        font-size: 40px !important;
        top: 10px;
        position: relative;
    }

    .reminder li:nth-child(1) {
        width: 49%;
        margin-top: 0;
    }

    .reminder li:nth-child(2) {
        width: 100%;
        position: relative;
        float: left;
        margin-top: 10px;
        padding-left: 1%;
    }


        .reminder li:nth-child(2) p {
            margin: 0;
            padding: 0;
            text-align: left;
        }

    .reminder li:nth-child(3) {
        width: 100%;
        float: left;
        text-align: left;
        position: relative;
        margin: 0 !important;
    }




    .iconSettings {
        width: 40px;
        height: 40px;
        top: -10px;
        right: -10px;
    }
}

@media (max-width: 320px) {


    body.alertaAlarma h4 {
        font-size: 44px !important;
        margin-bottom: 25px !important;
    }

    .footer a {
        width: 22.1%;
        font-size: 12px !important;
        padding-right: 1%;
        padding-top: 2%;
    }

    .margenP {
        padding-left: 5px;
        padding-right: 5px;
    }

    #masaCorporal ul li {
        height: 50px !important;
    }

    #masaCorporal div ul li div #resultadoMasaCorporal {
        margin-top: 5% !important;
        height: auto !important;
    }

    .contenidoRecomendaciones {
        border: none;
        padding-left: 0px !important;
    }

    .copete {
        text-shadow: none;
        font-size: 18px !important;
    }

    .footer a:hover, .footer a:hover {
        /* font-size:19px; */
        /* bottom: 0px; */
    }

    #imagenSplash1, #imagenSplash2 {
        width: 40%;
        position: absolute;
        margin: 5px;
    }

    #imagenSplash1 {
        left: 50%;
    }

    #imagenSplash2 {
        right: 50%;
    }

    #logoWHO {
        width: 94%;
    }

    #splashH1 {
        font-size: 32px;
    }

    #splashH2 {
        font-size: 32px !important;
        margin-bottom: 30px;
    }


    .riesgo {
        height: auto;
    }

    h2 {
        FONT-SIZE: 45PX !important;
        line-height: 71% !important;
    }

    #tensionSistolicaTitulo {
        bottom: 21px !important;
    }

    #logo {
        /* width: 100% !important; */
        margin-top: 3% !important;
    }

    .preguntas li div:first-child {
        bottom: 21px;
        left: 12px;
    }


    .riesgo {
    }

        .riesgo .derecha .row {
            left: 10px;
            position: relative;
        }






    h4 {
        font-size: 40px;
    }

    .riesgo .derecha .row {
        /* padding-left: 50% !important; */
        /* margin-left: 5%; */
        /* margin-left: 10%; */
    }
}

@media (max-height: 570px) and (max-width:320px) {

    #alertaAlarma .buttonSet {
        margin-top: 8%;
    }

    .preguntas li {
        height: 48px !important;
        overflow: hidden;
        margin: 0px !important;
        padding-top: 4px;
        padding-bottom: 0px;
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }

        .preguntas li * {
            height: 94% !important;
            bottom: 0px;
            min-height: 0px !important;
            top: 0px;
            /* line-height: 1; */
        }

        .preguntas li div p {
            /* line-height: 50% !important; */
            margin-bottom: 0px;
            margin-top: 6px;
            height: auto !important;
            vertical-align: middle !important;
        }
}

@media (max-height: 480px) and (max-width:320px) {
    label:after, label:before {
        line-height: 30px !important;
    }

    .preguntas li div p {
        /* line-height: 50% !important; */
        /* margin-bottom: 0px; */
        /* margin-top: 0px; */
    }

    .preguntas li {
        height: 39px !important;
        overflow: hidden;
        margin: 0px !important;
        padding-top: 4px;
        padding-bottom: 0px;
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }

        .preguntas li * {
            height: 90% !important;
            bottom: 0px;
            min-height: 0px !important;
            top: 0px;
            /* line-height: 1; */
        }

    #contenido #botonCalcular {
        height: 43px !important;
        margin-bottom: 20px;
        line-height: 0;
    }

    48
}

@media (min-width: 568px) and (max-width:768px) {
    .preguntas {
        margin-left: 1%;
    }
}

@media (min-width: 568px) and (max-width:1023px) {



    .riesgo .izquierda {
        margin-left: 3%;
    }
}

@media (max-width: 568px) {

    .iconAlarma {
        height: 80px !important;
        width: 83px !important;
        background-size: cover !important;
    }

    .footer a {
        font-size: 14px;
        letter-spacing: 0;
        /* border-right-width: 1px; */
        /* border-left-width: 1px; */
    }


    #masaCorporal .preguntas li {
        height: 18px;
        /* vertical-align: baseline; */
    }

    .preguntas {
        margin-left: 0.2%;
        margin-right: 1%;
    }

    .riesgo h4 {
        font-size: 30px;
        margin-top: 8px;
        white-space: nowrap;
    }

    #changuiContenidoArriba {
        height: 32px;
    }


    .riesgo {
        margin-left: -6px;
        margin-right: -6px;
        width: 104%;
    }


    #imagenSplash1, #imagenSplash2 {
        width: 33%;
        position: absolute;
        margin: 5px;
    }

    #imagenSplash1 {
        left: 50%;
    }

    #imagenSplash2 {
        right: 50%;
    }

    #logoWHO {
        width: 86%;
    }

    #splashH1 {
        margin-top: 40px;
        font-size: 48px;
        line-height: 80%;
    }

    #splashH2 {
        font-size: 32px !important;
        margin-bottom: 30px;
    }



    .riesgo * h5 {
        line-height: 75%;
        margin-bottom: 5px;
    }

    .preguntas li div input[type='number'], .preguntas div input[type='number'], select {
        width: 93%;
        position: relative;
        float: right;
        margin-right: 15px;
        background: white;
        text-align: center;
    }

    .preguntas li {
        left: 0px !important;
    }

    #logo {
        width: 69%;
        margin-top: 7px;
    }

    .contenido .preguntas li p {
        font-size: 17px !important;
        /* padding-left: 0px !important; */
    }

    #tensionsistolicaTitulo {
        line-height: 13px !important;
        overflow: visible;
        position: relative;
        top: -9px !important;
    }


    .preguntas li div:first-child {
        /* bottom: 21px; */
    }

    .preguntas li:last-child {
        background: none;
        padding: 0px;
        width: 100%;
    }

    #botonCalcular {
        width: 100%;
    }

    .preguntas {
        width: 99%;
        left: 0px;
        position: relative;
        margin-top: 0px;
    }

        .preguntas li {
            width: 100%;
            line-height: 81%;
            margin-top: 4px;
            margin-bottom: 4px;
        }

            .preguntas li div:last-child {
                float: right;
                position: relative;
                /* bottom: 15px; */
                width: 48%;
            }

    #masaCorporal .preguntas li div:last-child {
        bottom: 15px;
    }

    .contenido {
        border: none !important;
        padding-left: 5px;
        padding-right: 5px;
    }

    label {
        float: right;
        margin-right: 15px;
    }

    h2 {
        FONT-SIZE: 42.5PX;
        line-height: 80%;
        font-weight: 100;
    }
}

@media (min-width: 480px) {
    .preguntas {
        margin-bottom: 20px !important;
    }

    #masaCorporal ul li div:first-child p {
        margin-left: 4%;
        height: 100%;
        vertical-align: middle;
        /* margin-top: 12%; */
        /* margin-bottom: 12%; */
        /* text-align: right; */
    }

    .copete {
        margin-left: 10px;
    }


    #logo {
        margin-left: 10px;
    }

    .preguntas.resultados li div {
        width: 48%;
        float: left;
    }

    p#nombreTitulo {
        margin-left: 4%;
    }

    #contenido .preguntas li.primero div:first-child {
        width: 24% !important;
    }

    #contenido .preguntas li.primero div:last-child {
        width: 76% !important;
    }

        #contenido .preguntas li.primero div:last-child input {
            width: 96% !important;
        }
}

@media (min-width: 480px) and (max-width: 768px) {
    .margenP {
        padding-left: 10px;
        padding-right: 10px;
    }

    #masaCorporal {
        width: 99%;
        /* height: 100%; */
        /* overflow: visible; */
    }

    #resultados .preguntas li:nth-child(1) {
        margin-left: 1% !important;
    }

    .riesgo h4 {
        font-size: 30px;
        margin-top: 8px;
    }



    #contenido .preguntas li:first-child div {
        width: 50%;
        /* left:0px !important; */
        /* padding-left: 5px; */
    }

    .preguntas li div:first-child {
        left: 6px !important;
    }

    .preguntas li {
        width: 49.5%;
    }


    #resultados .preguntas li:nth-child(4), #resultados .preguntas li:nth-child(7), #contenido .preguntas li:nth-child(2), #contenido .preguntas li:nth-child(4), #contenido .preguntas li:nth-child(6) {
        margin-left: 1%;
    }
}

@media (min-width: 768px) {

    #alertaAlarma .buttonSet {
        margin-top: 12% !important;
    }

    .margenP {
        padding-left: 20px;
        padding-right: 20px;
    }

    #datosingresados {
        margin-left: 2%;
        width: 90%;
    }

    .preguntas {
        /* margin-left:0% !important; */
    }

    #indiceRecomendaciones {
        width: 97.5%;
    }

    .copete {
        margin-left: 20px;
        font-size: 20px;
    }


    #logo {
        margin-left: 20px;
    }


    .izquierda a {
        font-size: 2em;
    }

    .footer a {
        letter-spacing: 2;
    }

    #contenido .preguntas li.primero div:last-child {
        width: 67% !important;
    }

    #contenido .preguntas li.primero div:first-child {
        width: 33% !important;
    }

    #contenido .preguntas li.primero div:last-child input {
        width: 98% !important;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    #resultados .preguntas li:nth-child(4), #resultados .preguntas li:nth-child(7) {
        margin-left: 1%;
    }

    #masaCorporal {
        width: 96.9%;
    }

    .preguntas li {
        width: 49.5%;
    }

    #contenido .preguntas li:nth-child(even) {
        margin-left: 1%;
    }





    #resultados .preguntas li div:first-child {
        left: 20px !important;
    }

    .riesgo h4 {
        font-size: 44px;
    }

    .riesgo h5 {
        margin-top: 5px;
        /* width: 90%; */
    }

    label {
        float: right;
        margin-right: 15px;
    }

    input[type='number'] {
        max-width: 122px;
    }

    #tensionSistolicaTitulo {
        top: -8px;
    }

    #colesterolTitulo {
    }

    #tensionSistolicaTitulo, #colesterolTitulo {
        line-height: 95%;
        font-size: 18px;
        position: absolute;
    }

    #logo {
        width: 47%;
    }
}

@media (max-width: 1024px) {


    .reminder li:nth-child(3) {
        /* margin-top:35px; */
        padding-left: 1%;
    }
}

@media (min-width: 1024px) {



    .iconSettings {
        width: 60px;
        height: 60px;
    }

    .footer {
        height: 50px;
        display: table;
        vertical-align: middle;
        border-top: solid 5px #6692AB;
    }

        .footer a {
            font-size: 24px;
            letter-spacing: 0;
            padding-top: 12px;
        }

    .margenP {
        padding-left: 26px;
        padding-right: 26px;
    }

    #indiceRecomendaciones {
        width: 98.3%;
    }

    .preguntas {
        margin-left: 2% !important;
    }

    #masaCorporal {
        width: 97.8%;
    }

    .riesgo .derecha {
        margin-bottom: 0px !important;
        /* bottom: -25px !important; */
    }

    .riesgo {
        margin-left: 0px;
    }

    .copete {
        /* width:90%; */
        margin-left: 2%;
        font-size: 22px;
    }


    #resultados {
        /* width: 97%; */;
        /* padding:0; */
        padding: 0;
    }

        #resultados .preguntas li:nth-child(4), #resultados .preguntas li:nth-child(6) {
            margin-left: 0.5% !important;
        }

    .riesgo h4 {
        font-size: 44px;
    }

    .riesgo h5 {
        margin-top: 5px;
    }

    .preguntas li div p {
        font-size: 26.5px !important;
        font-weight: bold;
        line-height: 19px;
    }

    #colesterolTitulo {
        top: 2px;
    }

    #tensionSistolicaTitulo, #colesterolTitulo {
        bottom: 7px !important;
        position: relative;
    }

    .preguntas li {
        width: 32.66%;
    }



        .preguntas li:nth-child(even) {
            margin-right: 0%;
        }

        .preguntas li div p {
            font-size: 20px !important;
        }

        .preguntas li div {
            bottom: 11px !important;
        }

    label {
        float: right;
        margin-right: 15px;
    }

    input[type='number'] {
        max-width: 122px;
    }

    #contenido .preguntas li:nth-child(2), #contenido .preguntas li:nth-child(3), #contenido .preguntas li:nth-child(6), #contenido .preguntas li:nth-child(5) {
        margin-left: 1%;
    }

    #imagenSplash1 {
        right: 50%;
        position: absolute;
        float: auto;
        margin: 10px;
    }

    #imagenSplash2 {
        left: 50%;
        position: absolute;
        float: auto;
        margin: 10px;
    }

    #imagenSplash1, #imagenSplash2 {
        height: 35%;
        width: auto;
    }
}

@media (min-width: 481px) and (max-width:767px) {

    #tensionSistolicaTitulo {
        font-size: 15px;
        top: -1px;
        position: relative;
    }

    #colesterolTitulo {
        bottom: 9px !important;
        position: relative;
    }

    #tensionSistolicaTitulo, #colesterolTitulo {
        line-height: 80%;
    }

    .contenido {
        /* padding-left: 20px; */
        /* padding-right: 20px; */
    }



    .preguntas li div:first-child p {
        font-size: 20px;
        margin-left: 10px;
    }
}

@media (min-width:1300px) {
    .contenido {
        width: 98.2%;
    }
}

@media (min-width: 430px) and (max-width: 767px) {


    .riesgo .derecha {
        margin-bottom: 0% !important;
    }
}

@media (max-height: 768px) {
    #alertaAlarma {
        -webkit-transform: scale(0.75);
        -o-transform: scale(0.75);
        transform: scale(0.75);
    }

        #alertaAlarma .buttonSet {
            margin-top: 6%;
        }
}

.alertaAlarma {
    height: 100%;
    overflow: hidden;
}


    .alertaAlarma div div.buttonSet {
        position: absolute;
        bottom: 2%;
        margin: 0 auto;
        left: 40%;
        right: 40%;
    }


.appSettings {
    border-color: #bbbbbb;
}
